.main {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 3.5rem;
  height: 85vh;
  width: 100%;
  /*background: linear-gradient(to top, transparent, rgba(var(--background-end-rgb), 0.9) 40%, rgba(var(--background-start-rgb), 1));;
  */
  background: linear-gradient(
      to top,
      transparent,
      rgba(var(--background-end-rgb), 1)
    )
    rgba(var(--background-start-rgb), 0.8);
}

.description {
  display: inherit;
  justify-content: space-evenly; /*space-evenly - inherit*/
  align-items: inherit;
  font-size: 0.9rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-century);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
}

.description p {
  display: flex;
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.05);
  /*border: 1px solid rgba(var(--callout-border-rgb), 0.3);*/
  border-radius: var(--border-radius);
}

.description p a {
  padding: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-century);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  margin: 0 0.5rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  font-family: Arial;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;

  transition: .5s ease-in;
  z-index: 1;
}

.card span {
  display: inline-block;
  transition: transform 600ms;
}

.card_title {
  display: flex;
}

.card_title span {
  margin: 0.1rem 1rem;
  font-size: x-large;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.card::before, ::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  font-family: var(--font-century);
}

.logo {
  position: relative;
}

.about {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.2rem 3.5rem;
  font-family: var(--font-century);
  width: 100%;
  max-width: var(--max-width);
}

.about_perfil {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /*
  
  flex-wrap: wrap;
  justify-content: center;*/
}

.about h1 {
  padding: 1rem 0;
}

.about p {
  position: relative;
  font-size: 1em;
  opacity: 0.9;
}

.portada {
  display: flex;
  align-items: center;
}

.perfil {
  margin-top: 1rem;
  position: relative;
  border-radius: 50%;
  height: 9em;
  will-change: filter;
  transition: filter 300ms;
}

.perfil:hover {
  filter: drop-shadow(0 0 2em #ffffffbe);
}
.perfil.react:hover {
  filter: drop-shadow(0 0 2em #ffffff);
}

.redes {
  list-style: none;
  margin: 1rem 0 0 1rem;
}

.redes li {
  padding: .5rem 0 0 0.8rem;
}

.contacto {
  /*display: flex;*/
  padding-top: 1rem;
  list-style: none
}

.contacto li {
  padding-right: 5rem;
}

.portafolio {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.portafolio ul {
  display: flex;
  list-style: none;
}

.boton {
  font-size: 0.9rem;
  padding: 0.3rem 2rem;
  /*background-color: rgba(var(--card-rgb),0.8);
  margin: 1rem;
  
  border-radius: var(--border-radius);
  font-family: var(--font-century);*/
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgb(var(--card-rgb));
    border: 1px solid rgb(var(--card-border-rgb));
    /*color: #ffffff;*/
    box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 200px #ffffff;
    color: black;
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.map-container .ol-zoom, .map-container .ol-rotate {
  top: 30.5em;
}


/*
.map {
  height: 100vh;
}  
  position:relative;
  height: 150px;
  width: 100%;
  
  top: 80%;
  bottom: 0;
  width: 100%;
  height: 120px;
  display: inherit;
  height: 120px;
  width: 100%;
  z-index: -1;
  max-width: var(--max-width);
}*/












/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 880px;
  height: 610px;
  margin-left: -150px;
  z-index: -1;
}

.center::after {
  background: var(--primary-glow);
  border-radius: 50%;
  width: 240px;
  height: 240px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 80%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}*/
